@font-face {
  font-family: "iconfont"; /* Project id 2329939 */
  src: url('iconfont.woff2?t=1625721648529') format('woff2'),
       url('iconfont.woff?t=1625721648529') format('woff'),
       url('iconfont.ttf?t=1625721648529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tv:before {
  content: "\e64b";
}

.icon-dianshi1:before {
  content: "\e68b";
}

.icon-dianshi2:before {
  content: "\e68c";
}

.icon-dianshi3:before {
  content: "\e795";
}

.icon-dianshi4:before {
  content: "\e707";
}

.icon-dianshi:before {
  content: "\e636";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-adjust:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-ashbin:before {
  content: "\e668";
}

.icon-arrow-right:before {
  content: "\e669";
}

.icon-browse:before {
  content: "\e66a";
}

.icon-bottom:before {
  content: "\e66b";
}

.icon-bad:before {
  content: "\e66c";
}

.icon-arrow-double-left:before {
  content: "\e66f";
}

.icon-arrow-left-circle:before {
  content: "\e670";
}

.icon-arrow-double-right:before {
  content: "\e671";
}

.icon-close:before {
  content: "\e672";
}

.icon-check-item:before {
  content: "\e673";
}

.icon-comment:before {
  content: "\e674";
}

.icon-complete:before {
  content: "\e675";
}

.icon-direction-right:before {
  content: "\e676";
}

.icon-direction-up:before {
  content: "\e677";
}

.icon-direction-left:before {
  content: "\e678";
}

.icon-download:before {
  content: "\e679";
}

.icon-elipsis:before {
  content: "\e67a";
}

.icon-edit:before {
  content: "\e67b";
}

.icon-eye-close:before {
  content: "\e67c";
}

.icon-email:before {
  content: "\e67d";
}

.icon-favorite:before {
  content: "\e67e";
}

.icon-fabulous:before {
  content: "\e67f";
}

.icon-good:before {
  content: "\e680";
}

.icon-home:before {
  content: "\e681";
}

.icon-link:before {
  content: "\e682";
}

.icon-fullscreen-expand:before {
  content: "\e683";
}

.icon-menu:before {
  content: "\e684";
}

.icon-modular:before {
  content: "\e685";
}

.icon-refresh:before {
  content: "\e686";
}

.icon-picture:before {
  content: "\e687";
}

.icon-search:before {
  content: "\e688";
}

.icon-sign-out:before {
  content: "\e689";
}

.icon-setting:before {
  content: "\e68a";
}

.icon-shoucang1:before {
  content: "\e633";
}

.icon-fenlei:before {
  content: "\e66e";
}

.icon-fenlei2:before {
  content: "\e609";
}

.icon-zhuye:before {
  content: "\e635";
}

.icon-icon--:before {
  content: "\e70c";
}

.icon-shoucang:before {
  content: "\e626";
}

.icon-remen:before {
  content: "\e62f";
}

.icon-zuosvg:before {
  content: "\e601";
}

.icon-yousvg:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e615";
}

.icon-shangpinfenlei:before {
  content: "\e634";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-fenlei1:before {
  content: "\e639";
}

.icon-shoucang0:before {
  content: "\e66d";
}

